<div class="container">
  <h1 class="editing-article">Editando Artigo</h1>
  <div class="form-group">
    <%= render 'form', article: @article %>
  </div>
  <%= link_to 'Ver artigo', @article %> |
  <%= link_to 'Voltar', articles_path %>
</div>