<div class="container container-img-footprint">
    <%= link_to image_tag('back.svg'), users_path %>
    <h1 class="h1-new-user">Novo usuário</h1>

    <%= render 'form', user: @user, cells: @cells, dirs: @directorships  %>
</div>