<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card border border-white">
                <div class="card-body">
                    <ul>
                        <li>
                            <%= image_tag("image-profile.png", :alt => "Foto do usuário") %>
                        </li>
                        <li>
                            <a href="#">Alterar foto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card border border-white">
                <div class="card-body">
                    <ul>
                        <li>
                            <p>Nome: Lorem Ipsum da Silva Junior</p>
                        </li>
                        <li>
                            <p>E-mail: silvalorem22@injunior.com</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div> 
    </div>
</div>

<div class="container">

    <h2 class="projects">projetos atuais</h2>



    <div class="container div-form flex-center">
        <a href="#">
            <%= image_tag("close.svg", size: "20x20",:alt => "Fechar caixa") %>
        </a>
        <h3>Adicionar projeto</h3>
        <form action="">
            <input 
                name="name" 
                type="text" 
                placeholder="Nome do projeto"><br>
            <input 
                name="desc" 
                type="text" 
                placeholder="Descrição do projeto"><br>
            <button>+</button>
        </form>
    </div>



    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nome do projeto</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s.</p>
                    <a href="#" class="btn btn-primary">Concluído</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nome do projeto</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s.</p>
                    <a href="#" class="btn btn-primary">Concluído</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nome do projeto</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s.</p>
                    <a href="#" class="btn btn-primary">Concluído</a>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary center-block">+</button>
    </div>
</div>

<div class="container">

    <h2 class="historic">histórico</h2>

    <div class="row">
        <h3>células</h3>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nome da célula</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nome da célula</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nome da célula</h5>
                </div>
            </div>
        </div>
    
        <button type="button" class="btn btn-primary center-block">+</button>
    </div>
    
    <div class="row">
        <h3>diretorias</h3>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nome da diretoria</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nome da diretoria</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nome da diretoria</h5>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary center-block">+</button>
    </div>
    
    <div class="row">
        <h3>fusões</h3>
        <div class="row">
            <div class="col-sm-4">
                
            </div>
        </div>
        
        <button type="button" class="btn btn-primary center-block">+</button>
    </div>
</div>