@import "bootstrap-sprockets"
@import "bootstrap"

$blue-1: #4E99CE
$blue-2: #233E50
$white: #fafafa
$black: #333

body, html 
    background-color: $white

@font-face 
    font-family: 'Ikaros'
    src: font-url('Ikaros-Regular.otf')

.logo-image
    text-align: center

    img
        width: 219px
        height: 142px

.home
    background-color: $white
    display: flex
    flex-flow: column wrap
    justify-content: center
    height: 100vh

.text-login
    margin: 0 auto
    text-align: center
    font-family: 'Ikaros'
    color: $black
    text-transform: lowercase
    position: relative
    z-index: 3
    width: 60px
    padding: 20px 0px

.text-login::after
    content: ""
    height: 14px
    width: 65px
    position: absolute
    background: #4E99CE
    z-index: -1
    top: 32px
    display: block
    
.home
    .form
        font-family: 'Ikaros'
        font-size: 1em
        background-color: $blue-2
        border-radius: 56px
        width: 400px
        padding: 40px
        margin: 0 auto

        label
            color: $white

        .text-input
            margin: 10px

            input
                width: 100%

        .remember-me
            text-align: center
            margin: 10px

        .button
            text-align: center

            input
                background-color: $blue-1
                border-radius: 29px
                color: $white
                padding: 5px 35px
                font-size: 1.5em

        .text-center
            margin: 10px

            a
                color: $white

            a:hover
                background-color: $blue-2
                text-decoration: none